resources/config.properties

notes

repository/users_money.txt

*.log
*.log.*
*.lck

*.tmp
*.bak

bin/

.vscode/

LICENSE
NOTICE
CHANGES

src/drivers/LICENSE.chromedriver
src/drivers/THIRD_PARTY_NOTICES.chromedriver
lib/CHANGELOG
src/repository/users_money.txt
src/resources/config.properties
