.vscode/

config.ini
cookies.json
__pycache__

MessengerCasinoBot\app\assets\backgrounds\cheap\*
MessengerCasinoBot\app\assets\backgrounds\medium\*
MessengerCasinoBot\app\assets\backgrounds\expensive\*

cache_backup.json

backups/*

*.webp
*.png
*.log
*.jpg
*.ttf